# Editor files
.idea/
.vscode/

# Temp files
__pycache__
venv*
node_modules
npm-debug.log
*.pyc
.serverless
.test.py.swp

# Database files
*.sqlite3

# MAC stuff
.DS_Store

.requirements

# Coverage files
.coverage
cover/
htmlcov/